In [ ]:
import pandas as pd
import numpy as np

# ETL on Weather Data

This is farily experimental. Here I keep playing with Weather Data, iterating with visualizations and other parts until I have some clean data to work with. In the end only the Daily Data made much sense. Even so, I kept the rest of the data in case I might use it in other projects later on.

In [ ]:
df1 = pd.read_csv('csvs/1746061.csv', parse_dates = [1], dtype={19: 'str', 30: 'str', 31: 'str', 33: 'str', 34: 'str', 41: 'str', 42: 'str', 43: 'str', 49: 'str', 51: 'str', 58: 'str', 69: 'str', 71: 'str', 75: 'str', 88: 'str', 89: 'str'})

In [ ]:
#df1 = pd.read_csv('~/Downloads/1746061.csv')

In [ ]:
df1.shape

## Separate Hourly, Daily, Monthly

The first step is to separate data, using just the columns required for that row type

In [5]:
always = ["DATE", "REPORT_TYPE", "SOURCE"]
always = ["DATE"]

monthly = always+["AWND", "CDSD", "CLDD", "DSNW",  "MonthlyGreatestPrecip", "MonthlyGreatestPrecipDate", "MonthlyGreatestSnowDepth", "MonthlyGreatestSnowDepthDate", "MonthlyGreatestSnowfall", "MonthlyGreatestSnowfallDate", "MonthlyMaxSeaLevelPressureValue", "MonthlyMaxSeaLevelPressureValueDate", "MonthlyMaxSeaLevelPressureValueTime", "MonthlyMaximumTemperature", "MonthlyMeanTemperature", "MonthlyMinSeaLevelPressureValue", "MonthlyMinSeaLevelPressureValueDate", "MonthlyMinSeaLevelPressureValueTime", "MonthlyMinimumTemperature", "MonthlySeaLevelPressure", "MonthlyStationPressure", "MonthlyTotalLiquidPrecipitation", "MonthlyTotalSnowfall", "MonthlyWetBulb", "NormalsCoolingDegreeDay", "NormalsHeatingDegreeDay"]
daily = always+["DailyAverageDewPointTemperature", "DailyAverageDryBulbTemperature", "DailyAverageRelativeHumidity", "DailyAverageSeaLevelPressure", "DailyAverageStationPressure", "DailyAverageWetBulbTemperature", "DailyAverageWindSpeed", "DailyCoolingDegreeDays", "DailyDepartureFromNormalAverageTemperature", "DailyHeatingDegreeDays", "DailyMaximumDryBulbTemperature", "DailyMinimumDryBulbTemperature", "DailyPeakWindDirection", "DailyPeakWindSpeed", "DailyPrecipitation", "DailySnowDepth", "DailySnowfall", "DailySustainedWindDirection", "DailySustainedWindSpeed", "Sunrise", "Sunset"]
daily = always+["DailyAverageDryBulbTemperature", "DailyPeakWindSpeed", "DailyPrecipitation", "DailySnowDepth", "DailySnowfall", "Sunrise", "Sunset"]
hourly = always+["HourlyAltimeterSetting", "HourlyDewPointTemperature", "HourlyDryBulbTemperature", "HourlyPressureTendency", "HourlyRelativeHumidity", "HourlySeaLevelPressure", "HourlyStationPressure", "HourlyVisibility", "HourlyWetBulbTemperature", "HourlyWindDirection"]
hourly = always+["HourlyPrecipitation", "HourlyPresentWeatherType", "HourlySkyConditions", "HourlyWindSpeed"]
drop_cols = ["STATION", "ShortDurationEndDate010", "ShortDurationEndDate015", "ShortDurationEndDate020", "ShortDurationEndDate030", "ShortDurationEndDate045", "ShortDurationEndDate060", "ShortDurationEndDate080", "ShortDurationEndDate100", "ShortDurationEndDate120", "ShortDurationEndDate150", "ShortDurationEndDate180", "ShortDurationPrecipitationValue005", "ShortDurationPrecipitationValue010", "ShortDurationPrecipitationValue015", "ShortDurationPrecipitationValue020", "ShortDurationPrecipitationValue030", "ShortDurationPrecipitationValue045", "ShortDurationPrecipitationValue060", "ShortDurationPrecipitationValue080", "ShortDurationPrecipitationValue100", "ShortDurationPrecipitationValue120", "ShortDurationPrecipitationValue150", "ShortDurationPrecipitationValue180", "TStorms", "WindEquipmentChangeDate", "BackupDirection", "BackupDistance", "BackupDistanceUnit", "BackupElements", "BackupElevation", "BackupElevationUnit", "BackupEquipment", "BackupLatitude", "BackupLongitude", "BackupName"]
never = ["BackupDirection", "BackupDistance", "BackupDistanceUnit", "BackupElements", "BackupElevation", "BackupElevationUnit", "BackupEquipment", "BackupLatitude", "BackupLongitude", "BackupName"]
never = never + drop_cols

In [6]:
df1["REPORT_TYPE"].unique()

array(['FM-15', 'SOD  ', 'FM-16', 'SOM  '], dtype=object)

In [7]:
df1.drop(columns=never, inplace=True)
df1.shape

(51010, 88)

In [8]:
df_daily = df1.loc[lambda df: df.REPORT_TYPE == "SOD  ", :][daily]
df_16 = df1.loc[lambda df: df.REPORT_TYPE == "FM-16", :][hourly]
df_15 = df1.loc[lambda df: df.REPORT_TYPE == "FM-15", :][hourly]
df_hourly = pd.concat([df_15, df_16])

In [9]:
df_hourly.HourlyPrecipitation.unique()

array(['0', '0.01', '0.04', '0.07', '0.06', '0.05', '0.12', '0.11',
       '0.03', '0.15', 'T', '0.02', '0.09', '0.17', '0.28', '0.24',
       '0.23', '0.31', '0.29', '0.16', '0.14', '0.19', '0.08', '0.1',
       '0.01s', '0.13', nan, '0.05s', '0.04s', '0.18', '0.03s', '0.26',
       '0.4', '0.97', '0.06s', '0.02s', '0.16s', '0.25', '0.21', '0.39s',
       '0.37', '0.36', '1.28', '0.41', '0.22', '0.09s', '0.60s', '0.3',
       '0.2', '0.79', '0.11s', '0.63', '0.34', '0.27', '0.46', '0.58',
       '0.14s', '0.81s', '0.32', '0.17s', '0.47', '0.44', '0.39', '0.45',
       '0.62', '0.28s', '0.59', '0.82', '0.5', '0.54', '0.42', '0.43s',
       '0.57', '0.61', '1.15', '0.38', '0.67', '0.33s', '0.52', '0.45s',
       '0.96s', '0.55', '0.43', '0.69', '0.10s', '0.35', '0.68', '0.08s',
       '1.12', '0.86', '0.33', '1.69', '0.73', '0.7', '0.87', '0.50s',
       '0.29s', '0.07s', '0.41s', '1.13', '0.74', '0.51', '1.21', '1.22',
       '0.99', '1', '1.08', '1.55', '1.57', '0.64', '0.71', '0.72',
       '0.89'], dtype=object)

## Hourly Data

Try to locate the weather types. Later on we might make a one-hot encoding out of it.

In [10]:
#df_hourly["x1"] = df_hourly.HourlyPresentWeatherType.str.replace("[^A-Z ]", "", case=True, flags=0, regex=True).apply(lambda x: (list(set(x.split()))) if (isinstance(x, str) ) else np.NaN)
df_hourly["x1"] = df_hourly.HourlyPresentWeatherType.str.replace("[^A-Z ]", "", case=True, flags=0, regex=True).apply(lambda x: x.split() if (isinstance(x, str) ) else np.NaN)
df_hourly["x2"] = df_hourly.x1.apply(lambda x: x[-1] if (( isinstance(x, list) ) ) else np.NaN)

print("Weather Types are ", (df_hourly["x2"].unique()))

#df_hourly["x3"] = df_hourly.x1.apply(lambda x: x[1] if (( isinstance(x, list) and len(x) > 1 ) ) else np.NaN)
df_hourly = pd.get_dummies(df_hourly, prefix=None, columns = ["x2"])
df_hourly.rename(index=str, inplace=True, columns={"x2_BR": "BR", "x2_FG": "FG", "x2_FZ": "FZ", "x2_HZ": "HZ", "x2_RA": "RA", "x2_SN": "SN", "x2_UP": "UP", "x2_FU": "FU", "x2_FZRA": "FZRA"})

df_hourly.HourlyPrecipitation = pd.to_numeric(df_hourly.HourlyPrecipitation.str.replace("[A-Z]", "", case=False, flags=0, regex=True))
df_hourly = df_hourly.fillna(0)


#df_hourly["x4"].unique()

Weather Types are  [nan 'SN' 'RA' 'BR' 'HZ' 'UP' 'FZRA' 'FG']

In [11]:
df_hourly = df_hourly.drop(columns=["HourlyPresentWeatherType","HourlySkyConditions","x1" ])

In [12]:
df_hourly.to_csv("csvs/hourly_weather_nyc.csv")

## Daily Data

There are a lot of gaps in the daily data, and just some strange special characters. One cleanup routine helps across all of the daily data rollups.

In [13]:
def cleanup(x):
    #print("A1",x.unique())
    x  = x.str.replace("[A-Z]", "", case=False, flags=0, regex=True)
    #print("A2",x.unique())
    x  = x.str.replace("*", "", case=False, flags=0, regex=False)
    #print("A3",x.unique())
    x  = pd.to_numeric(x)
     #x.astype(int)
    #print("B",x.unique())
  
    return x
#df_daily[df_daily['DailySnowDepth'].str.match("")]

In [17]:

df_daily['DailyAverageDryBulbTemperature2'] = cleanup(df_daily.DailyAverageDryBulbTemperature)
df_daily['DailyPeakWindSpeed2'] = cleanup(df_daily.DailyPeakWindSpeed)
df_daily['DailyPrecipitation2'] = cleanup(df_daily.DailyPrecipitation)
df_daily['DailySnowDepth2'] = cleanup(df_daily.DailySnowDepth)
df_daily['DailySnowfall2'] = cleanup(df_daily.DailySnowfall)
df_daily = df_daily.fillna(0)

df_daily.head()

,DATE,DailyAverageDryBulbTemperature,DailyPeakWindSpeed,DailyPrecipitation,DailySnowDepth,DailySnowfall,Sunrise,Sunset,DailyAverageDryBulbTemperature2,DailyPeakWindSpeed2,DailyPrecipitation2,DailySnowDepth2,DailySnowfall2
24,2015-01-01 23:59:00,33,31,0,0,0,720.0,1639.0,33,31.0,0.00,0.0,0.0
49,2015-01-02 23:59:00,39,25,0,0,0,720.0,1640.0,39,25.0,0.00,0.0,0.0
109,2015-01-03 23:59:00,38,18,0.71,0,T,720.0,1641.0,38,18.0,0.71,0.0,0.0
161,2015-01-04 23:59:00,49,46,0.3,0,0,720.0,1642.0,49,46.0,0.30,0.0,0.0
186,2015-01-05 23:59:00,35,38,0,0,0,720.0,1643.0,35,38.0,0.00,0.0,0.0

## Wind Speed

Wind Speed is broken in many places. 2,237 miles per hour? We'll need to fix that later.

In [21]:
df_daily['DailyPeakWindSpeed2'].unique()

array([  31.,   25.,   18.,   46.,   38.,   24.,   39.,   30.,   20.,
         17.,   32.,   23.,   33.,   15.,   22.,   19.,   34.,   36.,
         44.,   27.,   26.,   29.,   28.,   37.,   42.,   16.,   21.,
         41.,   43.,   35.,   13.,   11.,   14.,   12., 2237.,    0.,
         40.,   45.,   10.,   47.,   48.,    9.,    7.])

In [ ]:
df_daily = df_daily.drop(columns=["DailyAverageDryBulbTemperature","DailyPeakWindSpeed","DailyPrecipitation","DailySnowDepth","DailySnowfall" ])

df_daily.rename(index=str, inplace=True, columns={"DailyAverageDryBulbTemperature2":"DailyAverageDryBulbTemperature", "DailyPeakWindSpeed2":"DailyPeakWindSpeed", "DailyPrecipitation2":"DailyPrecipitation", "DailySnowDepth2":"DailySnowDepth", "DailySnowfall2":"DailySnowfall"})


print("Cleaned up Daily")
df_daily.to_csv("csvs/daily_weather_nyc.csv")
df_daily.head()